/*--------------------------------------------------------
|Accounts Page Css
|________________________________*/
.d-hidden{
    display: hidden;
}

#invalid-cred {
    display: none;
}
.dash-actions{
    cursor: pointer;
}

.declaration{
    font-weight: normal;
    padding-bottom: 5px;
}

.even-display{
    display: none !important;
}


/*--------------------------------------------------------
|
|
|________________________________*/
